.textmain{
    display: flex;
    align-items: center;
    column-gap: 11px;
   
}
.icon span{
    padding: 10px 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    border-radius: 100%;
}
.text1{
    color: var(--text-color1);
    font-size: 18px;
    font-weight: 600;
}