.card{
    width: 22vw;
    min-width: 280px;
    height: auto;
    background: #ffffff;    /* !!! */
    border-radius: 24px;
}
.room_info{
    padding: 9px;
    display: flex;
    justify-content: space-between;
}
.cont1{

    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

.img img{
    width: 100%;
    border-radius: 24px 24px 0 0;
}
.text1{
    font-size: 16px;
    font-weight: 700;
    color: var(--text-color1);
}
.text2{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color3);
}
.text2_2{
    padding: 0 11px;
}
.text3{
    display: flex;
    align-items: center;
    column-gap: 11px;
}
.text3_1{
    font-size: 19px;
    font-weight: 700;
    color: var(--text-color1);
}
.text3_2{
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color3);
}

.score{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 10px;
    background: var(--primary-color);
    border-radius: 6px;
    color: #000;
    font-size: 14px;
    font-weight: 600;
}
.cont2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}
.like{
    display: flex;

}
.like svg:hover{
    fill: #ff0000; 
    color: #ff0000;
}
.booking{
    margin-top: 6px;
}
.booking a{
    text-decoration: none;
    user-select: none;
    padding: 4px 8px;
    background: var(--primary-color );
    border-radius: 12px;

    font-size: 16px;
    font-weight: 500;
    color: #000000;
}