.textmain{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    padding: 35px 100px;
}
.cont1{
    display: flex;
    justify-content: space-between;
    
}
.cont2,.cont3{
    display: flex;
    justify-content: space-between;
}
.img1 img{
    width: 40vw;
    height: auto;
}
.img2 img{
    width: 25vw;
    height: auto;
}
/* .img img{
    width: 100%;
    height: auto;
} */

.name{
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color1);
}
.price{
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color3);
}